.toggle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.toggle__button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 600px) and (orientation: portrait) {
  .toggle__button {
    width: 15vw;
    height: 15vw;
  }
}

@media (min-width: 601px) and (orientation: landscape) {
  .toggle__button {
    width: 7vw;
    height: 7vw;
  }
}

.toggle__button--toggled-on {
  background: rgba(255, 255, 255, 0.5);
}

.toggle__button--toggled-off {
  background: rgba(255, 255, 255, 0.3);
}
